* {margin: 0; padding: 0;}
body {
    align-content: center;
    text-align: center;
    background: #fff;
}
div {
    width: 800px;
    height: 100%;
    background: #fdf2ff;
    margin: 0 auto;
}

.div2{
    text-align: left;
}

.parent {
    width: 460px;
    min-height: 1100px;
    background: #dfe4ff;
}
.rows {


    justify-content: center;
    align-content: center;
    width: 420px;
    height: 1080px;
    background: #fefff9;
    margin: 18px;
}

.p{
    text-align: left;
    font-size: 10pt;
    font-family: Arial;
}

.p2{
    text-align: center;
    font-size: 8pt;
    font-family: "Arial Black";
}

.p3{
    text-align: center;
    font-size: 11pt;
    font-family: "Times New Roman";
    color: greenyellow;
}

.rows2 {
    float: left;
    align-content: space-around;
    justify-content: center;
    width: 350px;
    height: 900px;
    background: #fefff9;
    margin: 1px;
}


.rows4 {
    float: left;
    align-content: space-around;
    justify-content: center;
    width: 350px;
    height: 350px;
    background: #fefff9;
    margin: 1px;
    margin-left:7%;
}

.rows3 {
    float: left;
    align-content: space-around;
    justify-content: center;
    width: 350px;
    height: 950px;
    background: #fefff9;
    margin: 15px;
}

.fotter {


    justify-content: center;
    align-content: center;
    width: 440px;
    height: 100px;
    background: #dfe4ff;
    margin: 17px;
}

input{
    width: 175px;
    height: auto;
}
#inp{
     width: 85px;
     height: auto;
 }

#inp2{
    width: 85px;
    height: auto;
}

#inp3{
    width: 85px;
    height: auto;
}

#inp4{
    width: 300px;
    height: auto;
}
.img{
     width: 180px;
     height: 150px;
 }

.img2{
    width: 100px;
    height: 150px;
}

.b1 {
    background: navy;
    color: white; /
    font-size: 9pt;
}
.new {
    background: -moz-linear-gradient(#D0ECF4, #92e1d2, #f0f4f2);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #e12727));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}