* {margin: 0; padding: 0;} /* обнуляем отступы */
body {
    align-content: center;
    text-align: center; /* выравниваем все содержимое body по центру */
    background: #fff; /* цвет фона для наглядности */
}
div {
    width: 800px; /* ширина основного блока */
    height: 100%; /* высота для наглядности */
    background: #fdf2ff; /* цвет блока для наглядности */
    margin: 0 auto; /* задаем отступ слева и справа auto чтобы сработало выравнивание по центру */
}

.div2{
    text-align: left;
}

.parent {
    width: 430px;
    min-height: 1000px;
    background: #44c1ff;
}
.rows {


    justify-content: center;
    align-content: center;
    width: 420px;
    height: 1200px;
    background: #fefff9;
    margin: 5px;
}

.rows2 {


    justify-content: center;
    align-content: center;
    width: 390px;
    height: 1100px;
    background: #fefff9;
    margin: 15px;
}

.fotter {


    justify-content: center;
    align-content: center;
    width: 355px;
    height: 150px;
    background: #3c6bff;
    margin: 17px;
}


.p{
    text-align: left;
}
.p2{
    text-align: center;
    font-size: 8pt;
    font-family: "Arial Black";
}

.p3{
    text-align: center;
    font-size: 10pt;
    font-family: "Arial Black";
}



input{
    width: 175px;
    height: auto;
}

.img{
    width: 180px;
    height: 150px;
}

.b1 {
    background: navy; /* Синий цвет фона */
    color: white; /* Белые буквы */
    font-size: 9pt; /* Размер шрифта в пунктах */
}
.new {
    background: -moz-linear-gradient(#D0ECF4, #92e1d2, #f0f4f2);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#D0ECF4), to(#D0ECF4), color-stop(0.5, #e12727));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
    padding: 3px 7px;
    color: #333;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #666;
}